// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//fonts
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body {
    transition-timing-function: cubic-bezier(.21, .8, .24, 1);
    background-color: $body-bg;
    font-family: 'Ruda', sans-serif;
    font-weight: 200;
    min-height: 100%;
    margin: 0;
}

#app {
    width: 75%;
    margin: auto;
}

.full-height {
    height: 100vh;
}

.guest-height {
    height: 33vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-family: "Pacifico", cursive;
    font-size: 84px;
    color: $blue;
    user-select: none;
}

.links > a {
    color: $indigo;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: .25s;
}

.links > a:hover {
    color: $blue;
    transform: scale(1.1);
}

.m-b-md {
    margin-bottom: 30px;
}

.fade-in-bottom {
    animation: fadeIn .75s;
}

.logo {
    width: 64px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.hidden {
    visibility: hidden;
}

.social-icon {
    color: $indigo;
    cursor: pointer;
    transition: color .5s;
}

.social-icon:hover {
    color: $blue;
}

.footer-copyright {
    background-color: #1b1e21;
}

.tweet-box {
    min-height: 10vh; //change this later
    display: flex;
    background-color: $white;
    padding: 16px;
    width: 80%;
    transition: box-shadow .5s;
}

.user-bio {
    max-width: 64px;
    min-width: 64px;
    font-weight: 600;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    .tweet-box {
        margin: 0;
        width: 100%;
    }
}

.tweet-box:hover {
    @extend .shadow;
}

.profile-image-circle {
    width: 48px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 50%;
}

//---overrides

.nav-link {
    transition: color .5s;
}

.dropdown-menu {
    transform-origin: top center;
    animation: rotateMenu .5s;
}

//---keyframes
@keyframes fadeIn {
    0% {
        transform: translate3d(0, 20%, 0);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg);
    }
    50% {
        transform: rotateX(10deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
