// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// External SCSS files
@import 'confirm';

//fonts
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body {
    font-size: calc(12px + .2vw);
    transition-timing-function: cubic-bezier(.21, .8, .24, 1);
    background-color: $body-bg;
    font-family: 'Ruda', sans-serif;
    font-weight: 200;
    min-height: 100%;
    margin: 0;
}

//body {
//    background: linear-gradient(360deg, $indigo 0%, $blue 100%);
//}

#app {
    width: 75%;
    margin: auto;
}

.full-height {
    height: 100vh;
}

.guest-height {
    height: 33vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-family: "Pacifico", cursive;
    font-size: 5rem;
    color: $blue;
    user-select: none;
}

.links > a {
    color: $indigo;
    padding: 0 25px;
    //font-size: 16px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: .25s;
}

.links > a:hover {
    color: $blue;
    transform: scale(1.1);
}

.m-b-md {
    margin-bottom: 30px;
}

.fade-in-bottom {
    animation: fadeIn .75s;
}

.logo {
    width: 64px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.hidden {
    visibility: hidden;
}

.social-icon {
    color: $indigo;
    cursor: pointer;
    transition: color .5s;
}

.social-icon:hover {
    color: $blue;
}

.footer-copyright {
    background-color: $footer;
}

.tweet-box {
    //min-height: 16vh; //change this later
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    background-color: $white;
    width: 80%;
    transition: box-shadow .5s;

    .comments-box {
        border-bottom-right-radius: inherit;
        border-bottom-left-radius: inherit;
        background-color: $light-blue;

        .comment-box {
            color: white;
            background-color: $indigo;
        }
    }

    .post-comment {
    }
}

.btn-delete-comment {
    border: none;
    background-color: transparent;
    transition: color .25s;
}

.btn-delete-comment:focus {
    outline: none;
}

.btn-delete-comment:hover {
    color: $red;
}

.user-bio {
    max-width: 6rem;
    min-width: 6rem;
    font-weight: 600;
    word-wrap: break-word;
}

.tweet-box:hover {
    @extend .shadow;
}

.btn-delete-tweet {
    border: none;
    background-color: transparent;
    transition: color .25s;
}

.btn-delete-tweet:focus {
    outline: none;
}

.btn-delete-tweet:hover {
    color: $red;
}

.btn-edit-tweet {
    border: none;
    background-color: transparent;
    transition: color .25s;
}

.btn-edit-tweet:focus {
    outline: none;
}

.btn-edit-tweet:hover {
    color: $blue;
}

.profile-image-circle {
    width: 48px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 50%;
}

.profile-image-circle:hover {
    cursor: pointer;
}

.form > input[type = "text"] {
    border: none;
    background-color: $blue;
}

.btn-toggle-dark-mode {
    border-radius: 100%;
}

.dark-mode {
    filter: invert(1) hue-rotate(180deg);
}

.post-tweet {
    input[type="submit"] {
        font-family: "Pacifico", cursive;
        border: none;
        outline: none;
        border-radius: 8px;
        width: 64px;
        height: 32px;
        color: $white;
        background-color: $blue;
        transition: background-color .3s, box-shadow .3s;
    }

    input[type="submit"]:hover, input[type="submit"]:focus {
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .3);
        background-color: $indigo;
    }

    input[type="text"] {
        @extend textarea
    }

    input[type="text"]:hover {
        @extend textarea
    }
}

textarea {
    border: none;
    border-radius: 1rem;
    border-bottom: 1px $gray-800 solid;
    outline: none;
    transition: border-bottom-color .5s;
    margin: 0;
    padding: .5rem;
}

textarea:focus {
    border-bottom: 1px $blue solid;
    @extend .shadow-sm
}

.scroll-top {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    opacity: 0;
    transition: all .3s;
    z-index: 99;

    button {
        color: white;
        border: 0;
        outline: 0;
        border-radius: 100%;
        width: 4rem;
        height: 4rem;
        background-color: $blue;
        transition: inherit;
    }

    button:hover {
        background-color: $indigo;
    }
}

.opacity-1 {
    opacity: 1;
}

.btn-post-comment {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 100%;
    background-color: $blue;
    transition: background-color .3s;
}

.btn-post-comment:hover, .btn-post-comment:focus {
    background-color: $indigo;
    outline: none;
}

//---overrides

.navbar-nav li:hover > .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}

.nav-link {
    transition: color .5s;
}

.dropdown .dropdown-menu {
    transform-origin: top center;
    animation: rotateMenuIn .3s ease alternate both;
}

//---keyframes
@keyframes fadeIn {
    0% {
        transform: translate3d(0, 20%, 0);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateMenuIn {
    0% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

@keyframes rotateMenuOut {
    0% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

// Phone compatibility
@media (max-width: 768px) {
    #app {
        margin: 0;
        width: 100%;
    }

    .tweet-box {
        width: 100%;
    }
}
